Repository phaserjs/phaser, pull requests merged in 2025-04, with the labels that each got.

#7083 Fallback for Web Audio on Firefox
  src/sound/webaudio/WebAudioSoundManager.js
Labels: 🎵 Audio

#7092 Add angle distance functions
  src/math/angle/GetClockwiseDistance.js
  src/math/angle/GetCounterClockwiseDistance.js
  src/math/angle/GetShortestDistance.js
  src/math/angle/ShortestBetween.js
  src/math/angle/index.js
Labels: 🍏 Core

#7091 Fix Camera rotateTo() and change destination argument
  src/cameras/2d/Camera.js
  src/cameras/2d/effects/RotateTo.js
  src/cameras/2d/typedefs/CameraRotateCallback.js
Labels: 🎥 Camera, Phaser 4
